@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --pointColor: #ffc107;
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  color: var(--pointColor);
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-transform: none;
  font-size: 0.85rem;
  padding: 15px 0;
}
figcaption {
  font-size: 0.7rem;
  opacity: 0.5;
  text-align: right;
}

nav {
  position: absolute;
  display: flex;
  top: 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
}
nav ul {
  display: flex;
  float: right;
}
li {
  list-style: none;
  margin-right: 30px;
  cursor: pointer;
}
a {
  text-transform: none;
  color: var(--pointColor);
}

.aboutPopupBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}
.aboutPopup {
  position: absolute;
  border: 1px solid var(--pointColor);
  width: 400px;
  padding: 50px;
  margin: 50px;
  right: 0;
  background-color: #000;
}
.aboutPopup .musicianTitle {
  font-size: 2rem;
  margin-bottom: 15px;
}
.aboutPopup img {
  width: 100%;
}
.aboutPopup .closePopup {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  cursor: pointer;
  background-color: var(--pointColor);
  color: #000;
  border: none;
  font-size: 1.2rem;
  /* text-transform: lowercase; */
}

#webgl-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

#song-information {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 3;
}

#song-information .line {
  display: flex;
  justify-content: space-between;
}

#song-information .information div {
  margin: 10px 0;
}

#trackDetial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
#trackDetial .backBtn {
  position: absolute;
  top: 100px;
  left: 100px;
  font-family: "Righteous", cursive;
  border: none;
  background: #000;
  color: var(--pointColor);
  padding: 5px 10px;
  cursor: pointer;
  pointer-events: all;
  z-index: 5;
}
.backBtn img {
  width: 6px;
  transform: rotate(180deg);
}
#trackDetial .LPImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  animation: rotationDP 7s linear infinite;
}
#trackDetial .trackName {
  position: absolute;
  font-size: 5rem;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 4.5rem;
  width: 800px;
}
#trackDetial .pauseBtn {
  position: absolute;
  font-size: 1.5rem;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#trackDetial .pauseBtn img {
  width: 12px;
}

@keyframes rotationDP {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
